:root {
    --custom-colour: #d600fc;
    --pink: #f3aeff;
    --purple: #564884;
    --lite-violet: #e3d8fe;
    --lavender: #b19af6;
    --lime: #c1f85a;
}

#menu-icon {
    color: var(--lavender);
}

#angle-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0.25em;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin-left: 14px;
    margin-right: 14px;
}

#nav-about {
    color: var(--custom-colour);
    font-weight: 700;
}

.nav-list a {
    color: var(--lite-violet);
    /* font-size: 20px; */
}

.logo-text {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6em;
    color: var(--lite-violet);
}

.logo {
    color: var(--custom-colour);
}

.nav-text {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.02em;
}

#signup-text {
    font-weight: 700;
    padding: 0.75em;
    border-radius: 4px;
    background-color: var(--custom-colour);
    color: #ffffff;
}

#login-text {
    color: var(--lime);
    font-weight: 700;
}

.login {
    padding-right: 1em;
}

.bold-text {
    font-weight: 700;
}

#subheader-text {
    color: var(--lime);
    font-size: 30px;
}

body {
    background-color: #26203a;
}

img {
    max-width: 38rem;
    max-height: 38rem;
}

.banner {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
}

h1 {
    margin-top: 1em;
    margin-left: 2em;
    font-family: consolas, monospace, Georgia, Cambria;
    font-size: 75px;
    color: var(--lime);
}

.highlight-text {
    margin-left: 26px;
    padding: 2px 45px 2px 45px;
    text-decoration-line: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 5.5px;
    border-radius: 1px;
    background-color: var(--custom-colour);
    color: #ffffff;
}

h2,
.left-box {
    font-family: consolas, monospace, Georgia, Cambria;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 0.4em;
}

.left-box {
    margin-left: calc(25vw - 12.4em);
    width: 30%;
    padding: 0.2rem;
    font-size: 1.6em;
}

.box-content h2 {
    background-color: #564884;
    border-radius: 10px;
    color: var(--lime);
    margin: 1em 0.4em -2em 1em;
    padding: 0.6em 0.6em 0.6em 1.2em;
    box-shadow: 5px 5px 10px #26203a;
    position: relative;
    z-index: 2;
}

.box-content p {
    padding: 3.8em 1em 1.2em 1.8em;
    margin: 0em 1em 1.2em 1em;
    background-color: var(--lavender);
    border-radius: 10px;
    color: #1a1a1a;
    max-width: 22em;
    position: relative;
    z-index: 1;
}

#description {
    font-size: 1.6em;
    text-align: center;
    width: 78%;
    margin-top: -10px;
    color: var(--lite-violet);
}

.cta-btn {
    margin-top: 1em;
    width: 11.5em;
    height: 2em;
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    border-radius: 60px;
    text-decoration: none;
}

#signin-prompt {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    color: var(--lite-violet);
}

.left-box a {
    color: var(--lime);
}

#trigger-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--custom-colour);
    color: #ffffff;
}

/* Modal Form */
.modal {
    padding: 2em;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 35%;
    z-index: 1;
}

form h4,
form h3 {
    color: var(--lite-violet);
}

form h4 {
    margin: 1em 0em 1em 0.2em;
}

.form-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.form-header a {
    color: var(--lime);
}

.form-title {
    font-size: 1.82em;
    text-align: center;
    margin: -0.24em 0.8em 0em 0.8em;
}

.form-body {
    font-family: consolas, monospace, Georgia, Cambria;
    font-size: 1.14em;
    padding: 0.6em;
}

form {
    border-radius: 0.5em;
    text-align: left;
    background-color: var(--purple);
    color: #ffffff;
    overflow: auto;
    border: solid 0.1em var(--lavender);
}

label {
    display: block;
    margin: -0.5em 0em 0em -0.5em;
    padding-left: 1.2em;
    height: auto;
    font-size: medium;
}

input {
    margin: 0.8em 0 1em 0;
    width: 60%;
    min-height: 2.2em;
    border-style: none;
    border-radius: 0.18em;
}

.fieldset {
    padding-left: 0.8em;
    margin-bottom: 0.2em;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin: 0.2em;
}

input[type="submit"] {
    display: block;
    width: 30%;
    height: 2em;
    font-size: 1.4em;
    font-weight: 600;
    border-style: none;
    border-radius: 0.2em;
    background-color: var(--pink);
    color: #40404A;
}

.close {
    display: flex;
    justify-content: end;
    margin: 0.4em 0.6em 0em 0em;
    font-size: 2em;
    font-weight: bold;
    color: var(--pink);
}

.close:hover {
    cursor: pointer;
}